* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

/*navbar*/
header {
    padding: 25px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
header p {
    color: #263057;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text p {
    color: #263057;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.92px;
}
.text h1 {
    color: #263057;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.v {
    display: flex;
    align-items: center;
    gap: 8px;
}
.btn1 {
    width: 171.667px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #6984F0;
    background: #6984F0;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn2 {
    width: 148px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #263057;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

/*section1*/
.sec1 {
    background: linear-gradient(136deg, #263057 25.34%, #1D1444 89.06%);
    height: 590px;
    padding: 43px 100px;
}
.all {
    height: 500px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 64px 194px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: space-between;
    align-items:start;
    padding-left: 62px;
}
.tj {
    position: relative;
    z-index: 1;
    top: -15%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.left h1 {
    width: 579px;
    color: #253058;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 55.8px */
    margin-top: 139px;
}
.left h1 span {
    color: #263057;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
}
.left button {
    display: flex;
    width: 222px;
    height: 47px;
    padding: 9px 26.912px 10.975px 26px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #6984F0;
    background: #6984F0;
    box-shadow: 10px 10px 28px 0px rgba(105, 132, 240, 0.20);
    color: #FFF;
    font-size: 18px;
    margin-top: 37px;
}
.right {
    background-image: url("./img/Vector\ 1578.png");
    background-repeat: no-repeat;
    height: 100vh;
}
.new {
    position: absolute;
    right: 16%;
}
.new1 {
    position: absolute;
    right: 9.5%;
    top: 28.6%;
}
.new3 {
    position: relative;
    right: 9%;
}
.new4 {
    position: absolute;
    right: 14%;
    top: 27%;
}
.wifi {
    position: absolute;
    right: 32%;
    top: 40%;
}
.nout {
    position: absolute;
    right: 12.5%;
    top: 50%;   
}
.ellips {
    position: absolute;
    right: 19%;
    top: 28%;
}
.ellips1 {
    position: absolute;
    right: 12%;
    top: 59%;
}

/*section2*/
.sec2 {
    height: 210vh;
    background: #F1F2F4;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}
.sec2 h1 {
    color: #263057;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 62.4px */
    text-transform: uppercase;
}
.all_v{
    margin-top: 25px;
    height: 93vh;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 64px 194px 0px rgba(0, 0, 0, 0.10);
}
.text1 p {
    color: #263057;
    font-size: 20px;    
    font-style: normal;
    font-weight: 400;
}
.text1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 111px;
    padding-right: 111px;
    padding-top: 51px;
}
.ik {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.div_btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
}
.d3 {
    margin-top: 40px;
    width: 228px;
    height: 340px;
    border-radius: 30px;
    background: linear-gradient(180deg, #273158 0%, #0C244D 100%);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.45);
    padding: 30px;
    padding-top: 15px;
    padding-left: 15px;
}
.btnn {
    display: inline-flex;
    padding: 2px 10px 0px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 6%;
    border: none;
}
.d1 {
    margin-top: 60px;
    width: 228px;
    height: 323px;
    padding: 30px;
    padding-left: 15px;
}
.d1 h2 {
    color: #263057;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.d3 h2 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.gh h4 {
    color: #263057;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hg p {
    color: #263057;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.d1 h3 {
    color: #263057;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 8%;
}
.d3 h3 {
    color: white;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 8%;
}
.d1 h3 span {
    color: #263057;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.d3 h3 span {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.gh {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 13%;
}
.hg {
    margin-top: 15%;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 4%;
}
.not {
    margin-top: 10%;
    width: 191px;
    height: 35px;
}
.d3 .gh h4 {
    color: #fff;
}
.d3 .hg p {
    color: #fff;
}
.jim {
    margin-top: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nth {
    width: 264px;
    height: 45px;
    border-radius: 60px;
    background: #6984F0;
}
.n {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.all_sec {
    margin-top: 60px;
}
.div1 {
    height: 200px;
    border-radius: 15px;
    background: linear-gradient(92deg, #263057 29.38%, #1D1444 100.81%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.20);
    margin-top: 20px;
    padding-left: 78px;
}
.div1 h1 {
    color: #FFF;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    text-align: start;
    padding-top: 28px;
}
.inp input {
    width: 390px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    border: none;
    padding: 20px;
}
.inp input::placeholder {
    color: #263057;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.inp {
    display: flex;
    align-items: center;
    padding-top: 14px;
    gap: 22px;
}
.check {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 18px;
}
.check p {
    color: white;
}

.div2 h1 {
    flex-shrink: 0;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.div2 input {
    width: 519px;
    height: 46.23px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
}
#input1 {
    width: 185px;
    height: 46.23px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #fff;
}
.inp1 h1 {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    padding: 0;
}
.inp1 {
    display: flex;
    align-items:center;
    padding-top: 76px;
    gap: 250px;
}

/*section3*/
.sec3 {
    padding: 64px;
    padding-left: 100px;
}
.sec3 h1 {
    color: #263057;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 62.4px */
    text-transform: uppercase;
    text-align: center;
}
.suga {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 37px;
}
.suga p {
    width: 532px;
    color: #263057;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.b {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.b1 {
    width: 250px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #6984F0;
}




/*section 4 TodoList*/
.sec4 {
    height: 160vh;
    background: #efeff5;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}
.aadd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.aadd button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: #273158;
    color: white;
    font-size: 18px;
}
.sec4 h3 {
    color: #263057;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin-top: 30px;
}
th {
    font-weight: bold;
    border-bottom: none;
    padding: 20px 25px;
    background: #6984F0;
	border-top: 1px solid #ddd;
    text-align: center;
    color: white
}
.table thead tr th:first-child {
	border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
	border-radius: 0 20px 0 0;
}
.table tbody td {
    text-align: center;
	border: none;
	padding: 25px 30px;
	font-size: 16px;
    color: #243d68;
}
.table tbody tr:nth-child(even) {
	background: #cddce1;
}
.table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
}
.table tbody tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
}


/*dialogAdd*/
.addDialog {
    margin: auto;
    padding: 20px;
    background: #F2F2FE;
    border: none;
}
.formADD{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-top: 30px;
}
#h1 {
    color: rgb(43, 120, 138);
}
.formADD input {
    padding: 10px;
    width: 300px;
    background-color: rgba(172, 206, 225, 0.768);
    border-radius: 10px;
    border: none;
}
.formADD input::placeholder{
    color: rgb(117, 154, 184);
}
.formADD button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(43, 120, 138);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border:none;
}
.add_all h1 {
    color: rgb(43, 120, 138);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.41px;    
}

/*edit Dialog*/
.editDialog {
    margin: auto;
    padding: 20px;
    background: #F2F2FE;
    border: none;
}
.form2{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-top: 30px;
}
.form2 input {
    padding: 10px;
    width: 300px;
    background-color: rgba(172, 206, 225, 0.768);
    border-radius: 10px;
    border: none;
}
.form2 button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(43, 120, 138);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border:none;
}
.add_all h1 {
    color: rgb(43, 120, 138);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.41px;    
}



/*section5*/
.sec5 {
    background: #F1F2F4;;
    height: 100vh;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}
.sec5 h1 {
    color: #263057;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    text-transform: uppercase;
}
.all_jk {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.jk1 {
    margin-top: 30px;
    width: 380px;
    height: 426px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 64px 194px 0px rgba(0, 0, 0, 0.10);
    padding-left: 33px;
    padding-top: 30px;
    padding-right: 29px;
}

.jk1 h4 {
    width: 301px;
    color: #263057;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 25px;
}
.jk1 p {
    width: 318px;
    color: #263057;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin-top: 15px;
}
#p {
    color: #6984F0;
    margin-top: 31px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

/*section6 */
.sec6 {
    background: #fff;
    height: 65vh;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}
.sec6 h1 {
    color: #263057;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    text-transform: uppercase;
}
.allv {
    height: 153px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #F1F2F4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
}
.v1 {
    display: flex;
    align-items: center;
    gap: 15px;
}
.v1 p {
    width: 300px;
    flex: 1 0 0;
    color: #263057;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 152.941% */
    letter-spacing: -0.34px;
}
#p1 {
    width: 100px;
}


/*section7*/
.sec7 {
    background: #F1F2F4;
    height: 50vh;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}
.sec7 h1 {
    color: #263057;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    text-transform: uppercase;
}
.rm1 {
    width: 243px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allrm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
}


/*footer*/
footer {
    background: linear-gradient(136deg, #263057 25.34%, #1D1444 89.06%);
    height: 60vh;
    padding-left: 101px;
    padding-top: 101px;
    padding-right: 175px;
}
.alljimi {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.textjm1 p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.leftjm {
    display: flex;
    flex-direction: row;
    align-items:start;
    gap: 100px;
}
.b2 {
    width: 206px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid #6984F0;
    background: #6984F0;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.b3 {
    width: 178px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #FFF;
    border:none;
    color: #263057;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.btnjm {
    display: flex;
    gap: 20px;
}
.s h1 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
}
.s p {
    color: #949292;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.s {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-top: 34px;
}
.icons {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.down {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    align-items: start;
}
.down p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.5;
}
#lk {
    width: 670px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    opacity: 0.5;
}
